<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="plotly.min.js"></script>
    <script src="jquery-2.1.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  {% load static %}
  <link href="{% static 'smartf/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

  <!-- Custom styles for this template-->
  <link href="{% static 'smartf/css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"  href= "{% url 'smartf:main'%}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Smart Factory</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
	 
      <!-- Divider -->
	<div class="sidebar-heading">
        MENU
      </div>

      <!-- Heading -->
     
      <!-- Nav Item - Charts -->
      <li class="nav-item">
	      <a class="nav-link" href= "{% url 'smartf:predict'%}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>센서값 예측</span></a>
      </li>
	
	<li class="nav-item">
	      <a class="nav-link" href= "{% url 'smartf:chart_search'%}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Search Charts</span></a>
          </li>
       
      <hr class="sidebar-divider">
	<div class="sidebar-heading">
        데이터 분석
      </div>
	<li class="nav-item">
	      <a class="nav-link" href= "{% url 'smartf:Correlation'%}">
          <i class="fas fa-chart-pie"></i>
          <span>상관 관계 분석</span></a>
          </li>
      <hr class="sidebar-divider">
	<div class="sidebar-heading">
        설비안정도 분석
      </div>
	 <li class="nav-item">
	      <a class="nav-link" href= "{% url 'smartf:stability'%}">
          <i class="fas fa-desktop"></i>
          <span>안정도 예측</span></a>
          </li>

      <!-- Nav Item - Tables -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
         

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Search Charts</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
		
	</div>
          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
		 <form method = "get" action="{% url 'smartf:chart_search'%}">
                        <input type="date" id="from" name="fdate" />
                        <input type="submit" value="검색" />
                 </form>

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
			  <h4>Vib</h4>
			  <div id="chart"></div>
			  <h4>Sound</h4>
			  <div id="chart2"></div>
			  <h4>Gas</h4>
			  <div id="chart3"></div>
			  <h4>Distance</h4>
			  <div id="chart4"></div>
			  <h4>Object Temp</h4>
			  <div id="chart5"></div>


                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
	  <script>
                var a = {{vib}};
                var b = {{dats|safe}};
		var c = {{sound}}
		var d = {{gas}}
		var e = {{dis}}
		var f = {{obtemp}}
	
                var s= a.length;
                var i=0;
            function getData() {
                return a.shift();
            }
            function getDate() {
                return b.shift();
            }
	    function getSound() {
		 return c.shift();
	    }
	    function getGas() {
		return d.shift();
	    }
	    function getDis()  {
		return e.shift();
	    }
	    function getObtemp()  {
		return f.shift();
	    }
            Plotly.plot('chart',[{
                    x:[getDate()],
                    y:[getData()],
                type:'line'
            }]);
 	    Plotly.plot('chart2',[{
                    x:[getDate()],
                    y:[getSound()],
                type:'line'
            }]);
	    Plotly.plot('chart3',[{
		    x:[getDate()],
                    y:[getGas()],
                type:'line'								    }]);
	    Plotly.plot('chart4',[{
		    x:[getDate()],
		    y:[getDis()],
		type:'line'
	    }]);
	     Plotly.plot('chart5',[{
		    x:[getDate()],
		    y:[getObtemp],
	        type:'line'
	    }]);
            setInterval(function(){
                    if(i++<1000){
                            Plotly.extendTraces('chart',{x:[[getDate()]],y:[[getData()]]}, [0]);
			    Plotly.extendTraces('chart2',{x:[[getDate()]],y:[[getSound()]]}, [0]);
			    Plotly.extendTraces('chart3',{x:[[getDate()]],y:[[getGas()]]}, [0]);
			    Plotly.extendTraces('chart4',{x:[[getDate()]],y:[[getDis()]]}, [0]);
			    Plotly.extendTraces('chart5',{x:[[getDate()]],y:[[getObtemp()]]}, [0]);
                    }
            },200);
        </script>



  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>



